doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title SB Admin - Start Bootstrap Template

    include includes/css/core.pug

    include includes/css/custom.pug

  body#page-top.fixed-nav.sticky-footer.bg-dark
    include includes/navbar.pug
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Dashboard
          li.breadcrumb-item.active Charts
        h1 Alfred Mapping System
        input#save(
        type='button'
        value='save'
        onclick='save();'
        )
        input#load(
        type='button'
        value='load'
        onclick='load();'
        )
        div#board

      // /.container-fluid
      // /.content-wrapper


      include includes/footer.pug

      include includes/scroll-to-top.pug

      include includes/modals/logout.pug

      include includes/js/core.pug

      include includes/js/custom.pug
